name: Test Branches

on:
  push:
    branches-ignore:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"
      - name: Install dependencies
        run: uv sync --all-extras --dev
      - name: Start Docker Compose
        run: docker compose -f docker/docker-compose.yaml up -d --wait
      - name: Run tests (Unit and Integration)
        run: make itest
